* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: url(../assets/images/wallhaven-zyj28v_2880x1800.png) no-repeat center center fixed;
    background-size: cover;
}

.menu {
    position: fixed;
    left: 0;
    top: 0;
    width: 280px;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    padding: 20px;
    margin: 20px 0;
    transition: all 0.3s ease;
    height: calc(100vh - 40px);
}

.menu ul {
    list-style: none;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.menu ul li:not(.logout):not(.profile) {
    margin: 8px 0;
}

.menu ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    display: flex;
    align-items: center;
    padding: 12px 15px;
    border-radius: 10px;
    transition: all 0.3s ease;
    background: rgba(255, 255, 255, 0.03);
    border: 1px solid rgba(141, 77, 77, 0.146);
    backdrop-filter: blur(5px);
}

.menu ul li a:hover ,
.menu ul li a.active {
    background: rgba(255, 255, 255, 0.1);
    transform: translateY(-2px);
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.579);
    border: 1px solid rgba(255, 255, 255, 0.08);
}

.menu ul li a i {
    min-width: 30px;
    font-size: 20px;
    margin-right: 10px;
    color: #4a9eff;
}

.profile {
    display: flex;
    align-items: center;
    padding-bottom: 20px;
    margin-bottom: 15px;
    cursor: url(../assets/images/wand.png), auto;
    border-bottom: 1px solid rgba(255, 255, 255, 0.172);
}

.profile .img-box {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid rgba(245, 245, 182, 0.597);
    margin-right: 15px;
}

.profile img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.profile h2 {
    color: #fff;
    font-size: 16px;
    font-weight: 500;
}

.menu ul .logout {
    margin-top: auto;
    padding-top: 20px;
    border-top: 1px solid rgba(255, 255, 255, 0.172);
}

.menu ul li.logout a {
    background: rgba(255, 0, 0, 0.1);
    border: 1px solid rgba(255, 0, 0, 0.1);
}

.menu ul li.logout a:hover {
    background: rgba(255, 0, 0, 0.2);
    border: 1px solid rgba(255, 0, 0, 0.2);
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.579);
}

.menu ul li.logout a i {
    color: #ff4444;
}